#tiptop_content {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #222;
    background: rgba(0,  0,  0,  0.7);
    padding: 3px;
    overflow: hidden;
    width: 260px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,  0,  0,  0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,  0,  0,  0.3);
    box-shadow: 0 3px 7px rgba(0,  0,  0,  0.3);
}

#tiptop_title {
    background-color: #f5f5f5;
    padding: 10px 15px 8px;
    color: #222;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eee;
    margin: 0;
}

#tiptop_inner {
    font-size: 12px;
    background-color: #fff;
    padding: 14px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	margin-bottom: 5px;
}

#tiptip_holder.tip_left {
	margin-right: 5px;
}

#tiptip_holder.tip_right {
	margin-left: 5px;
}

#tiptip_holder.tip_bottom {
	margin-top: 5px;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}