#elefunds_top {
    position: relative;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/top_bar.png') repeat-x;
    width: 677px;
    height: 49px;
    border-left: 1px solid #3a414a;
    border-right: 1px solid #3a414a;
    line-height: 1.4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#elefunds_logo {
    position: absolute;
    top: 8px;
    left: 10px;
}

#elefunds_top > span {
    float: right;
    margin-right: 10px;
}

#elefunds_agree_container {
    position: relative;
    float: left;
    display: inline-block;
    width: 48px;
    height: 49px;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/arrow_off.png') no-repeat;
}

#elefunds_arrow {
    position: relative;
    display: inline-block;
    float: left;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/arrow_bg.png') repeat-x;
    height: 49px;
    padding: 0;
}

#elefunds_checkbox {
    position: absolute;
    top: 18px;
    left: 19px;
    width: 18px;
    line-height: normal;
    cursor: pointer;
    opacity: 0;
}

#elefunds_checkbox + label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #c6cfd8;
    height: 31px;
    padding: 9px 10px 9px 56px;
    margin: 0;
    max-width: 180px;
    float: left;
    cursor: pointer;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/arrow_off.png') no-repeat;
}

#elefunds_checkbox:checked + label {
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/arrow_on.png') no-repeat;
}

#elefunds_arrow_end {
    width: 11px;
    height: 49px;
    display: inline-block;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/arrow_end.png') no-repeat;
}

#elefunds_plus_minus {
    float: left;
    padding: 13px 10px 0 30px;
}

#elefunds_input_container {
    float: left;
    padding-top: 11px;
}

#elefunds_currency {
    display: inline-block;
    width: auto;
    height: 18px;
    padding: 4px 8px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    color: #C6CFD8;
    text-shadow: 0 1px 0 #2c3238;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/currency_bg.png') repeat-x;
    border: 1px solid #2f3439;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
    float: left;
}

#elefunds_input {
    display: inline-block;
    width: 48px;
    height: 18px;
    padding: 4px 2px 4px 0;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    color: #c6cfd8;
    text-shadow: 0 1px 0 #2c3238;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/input_bg.png') repeat-x;
    border: 1px solid #2f3439;
    float: left;
    outline: none;
}

.elefunds_input_active {
    color: #fff !important;
}

#elefunds_bottom {
    width: 677px;
    height: 62px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #cfd0d4 #b9bec4;
    line-height: 1.4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.elefunds_receiver {
    margin: 0;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #a3a6ac;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/receiver_off_bg.png') repeat-x;
    float: left;
    position: relative;
}

.elefunds_receiver > label > img {
    vertical-align: middle;
    filter: gray;
    -webkit-filter: grayscale(1) opacity(0.7);
}

#elefunds_bottom > div:last-child {
    border-right: 0 !important;
}

.elefunds_receiver_selected {
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/receiver_on_bg.png') repeat-x;
}

.elefunds_receiver_selected > label > img {
    filter: none;
    -webkit-filter: grayscale(0);
}

.elefunds_receiver > input {
    cursor: pointer;
    opacity: 0;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    width: 22px;
    position: absolute;
    top: 25px;
    left: 13px;
}

.elefunds_receiver > input + label {
    height: 42px;
    width: 165px;
    margin: 0;
    cursor: pointer;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/checkbox_off.png') 10px 24px no-repeat;
    display: inline-block;
    padding: 12px 19px 8px 40px;
    border-left: 1px solid rgb(246, 246, 246);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

#elefunds_bottom > div:last-child > label {
    padding: 12px 19px 8px 40px;
}

.elefunds_receiver > input:checked + label {
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/checkbox_on.png') 10px 24px no-repeat;
}

#elefunds_round_sum_container {
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/elefunds_highlight.png') right no-repeat;
}

#elefunds_round_sum_container strong:last-child {
    margin-right: 8px;
}

#elefunds_receipt {
    position: relative;
    float: left;
    font-size: 12px;
    color: #333;
    margin-left: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#elefunds_receipt_input {
    position: absolute;
    top: 1px;
    cursor: pointer;
    opacity: 0;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    width: 16px;
}

#elefunds_receipt_input + label {
    margin: 0;
    cursor: pointer;
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/receipt_off.png') no-repeat;
    display: inline-block;
    padding-left: 20px;
}

#elefunds_receipt > input:checked + label {
    background: url('https://bbbf9fd0e36d5cb36b93-c1fc539e0df6af03ccc14b5020ab4161.ssl.cf1.rackcdn.com/default/receipt_on.png') no-repeat;
}

.elefunds_hidden {
    display: none;
}

/* Misc style rules that can be ignored */

body {
    padding-top: 100px;
}

.container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 15px 0 15px 100px;
    width: 677px;
}

.container strong {
    font-weight: bold;
}

.sum {
    display: inline-block;
    width: 65px;
}

.float_right {
    text-align: right;
}

#elefunds_top {
    margin-left: 100px;
}

#elefunds_bottom {
    margin-left: 100px;
}